h1{
    text-align: center;
}
body{
    background-image: url("img/fondo.jpg");
    background-size: cover;
}
img {
    width: 100%;
    height: auto;
    
}
button {
    /*background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;*/
    width: 250px;
    height:250;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
}